.bg-blend {
  background-image: url(/src/assets/images/small_photo_hanna_kaisa_vainio.jpg);
  background-size: cover;
  background-color: #56ab7d;
  mix-blend-mode: multiply;
  height: 100vh;
  width: 100vw;
  z-index: -99;
  opacity: 50%;
  position: fixed;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.container .cont-box {
  border-radius: 35px;
  background-color: #ececec;
  width: 670px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  margin: 80px 10px 80px;
}
.container .cont-box .inside h1 {
  font-size: 50px;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .container .cont-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .container .cont-box .inside h1 {
    font-size: 30px;
  }

  p {
    font-size: 19px;

    /* line-height: 1.5rem; */
  }
}

.container .cont-box .inside {
  margin: 40px;
}

p {
  font-size: 19px;
  line-height: 1.33rem;

  /* line-height: 1.5rem; */
}

@media only screen and (max-width: 768px) {
  .container .cont-box .inside {
    margin: 20px;
  }
  p {
    font-size: 17px;
    line-height: 1.33rem;

    /* line-height: 1.5rem; */
  }
}
.container .cont-box .inside .wbox {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin: 30px 0px 0px;
}
.container .cont-box .inside .wboxg {
  background-color: #56ab7d;
  padding: 20px;
  border-radius: 15px;
  margin: 40px 0px 40px;
}

.green {
  color: #56ab7d;
  margin: 10px 0px 0px;
}

hr {
  border: none;
  margin: 50px 0px 50px;
  border-top: 1px dashed black;
}
@media only screen and (max-width: 768px) {
  .soc-f2 {
    background-color: transparent;
    height: 46px;
    width: 46px;
    z-index: 50px;
    position: absolute;
    margin: -46px;
    margin-left: 150px;
  }
  .soc-f2 .link {
    background-color: transparent;
    height: 100%;
    width: 100%;
  }
  .soc-i2 {
    background-color: transparent;
    height: 46px;
    width: 46px;
    z-index: 50px;
    position: absolute;
    margin: -46px;
    margin-left: 250px;
  }
  .soc-i2 .link {
    background-color: transparent;
    height: 100%;
    width: 100%;
  }
}

