.heroicon {
  height: 150px;
  margin: 50px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .heroicon {
    margin: 20px;
    height: 100px;
  }
}
.heroicon img {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .cont-box {
  z-index: 1;
  border-radius: 35px;
  background: url(/src/assets/images/bg-clay3.jpg);
  background-color: #ececec;
  width: 770px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 80px 10px 80px;
}
.container .cont-box .inside h1 {
  font-size: 50px;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .container .cont-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
  }
  .container .cont-box .inside h1 {
    font-size: 30px;
  }
  .container .cont-box .inside h2 {
    font-size: 17px;
  }


  p {
    font-size: 19px;

    /* line-height: 1.5rem; */
  }
}

.container .cont-box .inside {
  padding: 40px;
}

p {
  font-size: 19px;
  line-height: 1.33rem;

  /* line-height: 1.5rem; */
}

@media only screen and (max-width: 768px) {
  .container .cont-box .inside {
    padding:20px;
  }
  p {
    font-size: 17px;
    line-height: 1.33rem;

    /* line-height: 1.5rem; */
  }
}
.container .cont-box .inside .wbox {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin: 30px 0px 0px;
}
.container .cont-box .inside .wboxg {
  background-color: #4c4797;
  padding: 20px;
  border-radius: 15px;
  margin: 40px 0px 40px;
}
.sbox {
  color: #4c4898;
}
.base {
  color: black;
  margin: 10px 0px 0px;
}

hr {
  border: none;
  margin: 50px 0px 50px;
  border-top: 1px dashed black;
}
@media only screen and (max-width: 768px) {
  .soc-f2 {
    background-color: transparent;
    height: 46px;
    width: 46px;
    z-index: 50px;
    position: absolute;
    margin: -46px;
    margin-left: 150px;
  }
  .soc-f2 .link {
    background-color: transparent;
    height: 100%;
    width: 100%;
  }
  .soc-i2 {
    background-color: transparent;
    height: 46px;
    width: 46px;
    z-index: 50px;
    position: absolute;
    margin: -46px;
    margin-left: 250px;
  }
  .soc-i2 .link {
    background-color: transparent;
    height: 100%;
    width: 100%;
  }
}
