@font-face {
  font-family: "MADSansFillBold";
  src: url("./assets/fonts/mad-sans-fill-bold.eot");
  src: url("./assets/fonts/mad-sans-fill-boldd41d.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/mad-sans-fill-bold.woff2") format("woff2"),
    url("./assets/fonts/mad-sans-fill-bold.woff") format("woff"),
    url("./assets/fonts/mad-sans-fill-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
  font-family: MADSansFillBold;
  font-weight: normal;
  /* line-height: 1.33rem; */
  font-feature-settings: "ss01", "ss02";
}
a{
  color: #0c0a09;
}

a:link {
  text-decoration:  underline;
  text-underline-offset: 2px;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-underline-offset: auto;
  text-decoration: underline;
}
a:active {
  text-decoration: none;
}
::selection {
  background-color: black;
  color: white;
}

.bg-blend {
  background-image: url(/src/assets/images/backround2.jpg);
  background-size: cover;
  mix-blend-mode: multiply;
  height: 100%;
  width: 100%;
  z-index: -99;
  position: fixed;
}
